.selfportrait {
    border-radius: 50%;
    width: 60%;
    border: 5px solid teal;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }

@media screen and (max-width: 600px) {
  .selfportrait {
    border: 2px solid teal;
  }
}