.aboutcontcontainer {
    margin-left: 2vw;
    
}

.divider {
    border-bottom: solid .25vw black;
    width: 90%;
    margin-left: 5%;
}

.aboutpara {
    font-size: 2vw;
    
}

#abouttitle {
    color: teal;
    border-bottom: solid .2vw teal;
}

